{% load staticfiles %}

<html>
    <head>
        <title>Grep request</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Indie+Flower&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="{% url 'index' %}">New request<a></h1>
        </header>
        
        <div class="wrapper">
        	<div class="content">
                <a href="{% url 'index' %}"></a>
                {% block action %}
                {% for file, lines in files_with_lines.items %} 
                    <div class="file-name">{{file}}</div>
                    <div class="lines">
                        {% for line in lines %}
                            <pre>{{line}}</pre>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% endblock %}
			</div>
        </div>
    </body>
</html>