{% extends 'grep_result_lines.html' %}

{% block action %}
{% if count == True %}
	{% for file, count in files_with_counts.items %} 
    	<div class="file-name">{{file}}</div>
        	<div class="count">
        		{{count}}
        	</div>
    	</div>
	{% endfor %}
{% else %}
	{% for file in files_with_match %}
		<div class="file-name">{{file}}</div>
	{% endfor %}
{% endif %}
{% endblock %}