{% load staticfiles %}

<html>
    <head>
        <title>Grep request</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Indie+Flower&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="{% url 'index' %}">New request<a></h1>
        </header>
        
        <div class="wrapper">
        	<div class="content">
                <form action="" method="post">
                    {% csrf_token %}
                    <a href="{% url 'index' %}"></a>
                    {% for field in form %}
                        <div class='field-label'>
                            {{field.label}}
                        </div>
                        <div class="field">
                            {{field}}
                        </div>
                    {% endfor %}
                    <div class="btn">
                        <input type="submit" class="btn btn-success" value="create">
                    </div>
                </form>
			</div>
        </div>
    </body>
</html>