header {
    background-color: #008000;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 40px;
}

header h1, header h1 a, header h1 a:visited, header h1 a:active {
    color: #171717;
    font-size: 36pt;
    font-family: "Indie Flower";
    text-decoration: none;
    text-align: center;
}


html, body {
    height: 100%;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    clear: both;
    text-align: center;
    font-family: "Indie Flower";
    font-size: 16pt;
    margin-top: -2px;
    height: 30px;
}

.field-label {
    text-align: center;
    font-family: "Indie Flower";
    font-size: 18pt;
}

.field {
    text-align: center;
    margin: 5px 0px;
}

.btn {
    margin-left: 42.5%;
    margin-top: 20px;
}

.file-name {
    text-align: center;
    font-family: "Indie Flower";
    font-size: 14pt;
    margin-top: 5px;
}

.lines {
    background-color: lightgrey;
    margin: 7px;
    padding: 5px;
    border-radius: 0.75%;
}

.count {
    background-color: lightgrey;
    margin: 7px;
    padding: 5px;
    border-radius: 0.75%;
    text-align: center;
    font-family: "Indie Flower";
    font-size: 14pt;
}

pre {
    border: none;
    background: none;
    margin: 0px 0px;
    padding: 0px;
}
